html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.reset-input {
  display: inline-block;
  border: 0;
  padding: 0;
  background: none;
  -webkit-appearance: none;
  zoom: 1;
  *display: inline;
}
.reset-input:focus {
  outline: 0;
}
.reset-input::-moz-focus-inner,
.reset-input[type="reset"]::-moz-focus-inner,
.reset-input[type="button"]::-moz-focus-inner,
.reset-input[type="submit"]::-moz-focus-inner,
.reset-input::-moz-focus-inner,
.reset-input[type="file"] > [type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.reset-bmp {
  border: 0;
  padding: 0;
  margin: 0;
}
/*
@example: 'example', Arial, sans-serif;
*/
/* MediaMonks Less Library */
/*
LESS DSS (dynamic stylesheet) 1.8.3 (for less.js 1.3.0+)
MORE INFO: http://cl.ly/Dqnr

LESS mixins by Chris Krupski
*/
/* Backgrounds Group
========================== */
/* Box Group
========================== */
/* Border Group
========================== */
/* Transform Group
========================== */
/* Transition
========================== */
/* Animation Group
========================== */
/* Misc Group
========================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.ir {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clear {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*
** SAM AND NIGELS MIXINS
*/
.abs-block {
  position: absolute;
  display: block;
}
.rel-block {
  position: relative;
  display: block;
}
/*
@font-face {
    font-family: 'fontname';
    src: url('../font/fontname.eot');
    src: url('../font/fontname.eot?#iefix') format('embedded-opentype'),
         url('../font/fontname.woff') format('woff'),
         url('../font/fontname.ttf') format('truetype'),
         url('../font/fontname.svg#fontname') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
html,
body {
  min-height: 100%;
}
body {
  vertical-align: baseline;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
#container {
  background: #000;
  width: 100%;
  height: 100%;
}
